/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

/* Utilidad para Sliders estilo Netflix: Scroll suave sin barra visible */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}
